.container#content {
    margin-top: 60px;
  }
  body {
    background-color: rgba(35,33, 54, 90.5%);
    font-family: $site-font;
  }
  a {
    color: #1f2024;
    &:hover {
      color: #3d543b;
      text-decoration: none;
    }
  }
  h1 {
    margin-bottom: 10px;
    text-align: center;
  }
  .navbar {
    background-color: #3d543b;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 1;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    color: #1f2024;
    &:hover {
      color: #3d543b;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }