.site-footer {
    background-color: rgba(35,33, 54, 99.5%);
    margin-top: 20px;
    padding: 10px;
    text-align: center;

    h4{
      font-weight: 700;
      font-size: 24px;
      color: #3d543b;
    }
    p{
      font-weight: 100;
      font-size: 20px;
      color: #3d543b;
    }
  
    .footer-social-links {
      text-align: center;
  
      ul.social-links-list {
        li {
          margin-right: 25px;
          display: inline-block;
  
          a {
            color: $dark-gray;
  
            &.instagram:hover {
              color: #3d543b;
            }
            &.facebook:hover {
              color: #3d543b;
            }
            &.twitter:hover {
              color: #3d543b;
            }
            &.google:hover {
              color: #3d543b;
            }
            &.linkedin:hover {
              color: #3d543b;
            }
          }
        }
      }
    }
  }