.social-share-links {
    ul {
      display: inline-flex;
      margin: 20px auto;
  
      li {
        margin: auto 20px;
  
        a {
          opacity: 0.6;
          transition: all 0.3s ease-in;
          &:hover {
            opacity: 1;
          }
          &.facebook {
            color: #3d543b;
          }
          &.twitter {
            color: #3d543b;
          }
          &.google {
            color: #3d543b;
          }
          &.linkedin {
            color: #3d543b;
          }
        }
      }
    }
  }