.author-social-links {
    ul {
      display: inline-flex;
  
      li {
        margin: auto 7px;
  
        a {
          transition: all 0.3s ease-out;
          color: $dark-gray;
  
          &.instagram:hover {
            color: #3d543b;
          }
          &.facebook:hover {
            color: #3d543b;
          }
          &.twitter:hover {
            color: #3d543b;
          }
          &.google:hover {
            color: #3d543b;
          }
          &.linkedin:hover {
            color: #3d543b;
          }
        }
      }
    }
  }