@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap');

$site-font: 'Montserrat', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: #505050;
$white: white;